In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
filename = 'C:/Users/yanni/Documents/GitHub/MakeoverMonday/Excel/Global import of cocoa beans.xlsx'
df = pd.read_excel(filename)
df.head()

           Region  Year  Import in tonnes
0  Asia & Oceania  2015            565000
1  Asia & Oceania  2016            592000
2  Asia & Oceania  2017            866000
3  Asia & Oceania  2018            927000
4  Asia & Oceania  2019            924000

In [15]:
df['Region'].tolist()

['Asia & Oceania',
 'Asia & Oceania',
 'Asia & Oceania',
 'Asia & Oceania',
 'Asia & Oceania',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas']